<div class="footer">
		<small>
			<%= link_to "Bennett Morrison", "http://bennettmorrison.com" %>
			 made this page based on the instruction of <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>

		</small>
	</div>
